@{
    ViewBag.Title = "TermAndCondition";
}

<div id="content" class="full-sections">
    <!-- Start Full Width Section 2 -->
    <div class="section" style="padding-top:60px; padding-bottom:60px; border-top:1px solid #eee; border-bottom:1px solid #eee; background:#f9f9f9;">
        <div class="container">
            <div class="row">
                <h2 class="accent-color" style="margin-left:40%; font-weight:900; font-size:3em; padding-bottom:40px">Terms & Conditions</h2>
                <h3 style="font-weight: 800" class="accent-color"> I.General Use Of The Site</h3>
                <h5 style="font-weight: 500; margin-left:70px; line-height: 2">
                    - Copyright and rights of use only for personal and internal. Unless otherwise specified, the Site is for personal and internal use only. <br />
                    - Website design, text and graphics, and the selection and arrangement of such elements are copyrighted and protected by copyright laws throughout the world, and treaty provisions.<br />
                    - Except as otherwise expressly permitted on the website, the website and the documents may not be reproduced, modified, published, uploaded, posted, transmitted, or distributed in any way without prior permission in writing of ADMINISTRATOR and is prohibited by law, and may result in civil and criminal penalties severity. <br />
                    - Violators will be prosecuted to the fullest extent possible. Unless otherwise expressly provided herein, or implied ADMINISTRATOR not get you any patent, copyright, trademark or trade secret information.
                </h5>
                <br />
                <h4 style="font-weight: 600;margin-left:30px" class="accent-color">
                    The Member
                </h4>
                <h5 style="font-weight: 400; margin-left:70px; line-height: 2">
                    - Termination of membership: ADMINISTRATOR maintain the right, in its sole discretion, terminate or suspend your membership with ADMINISTRATOR anytime, with or without cause, with or without notice. After termination of your membership in the ADMINISTRATOR, the right to use your ADMINISTRATOR immediately terminated.<br />
                    - You may terminate your membership at any time, with or without cause.<br />
                    - Sử dụng quyền Thành viên: ADMINISTRATOR cho phép bạn thêm các thành viên trong gia đình truy cập vào tư cách thành viên ADMINISTRATOR của bạn. Bạn chịu trách nhiệm cho việc các sử dụng tài khoản của tất cả các thành viên. Bạn sẽ không được chuyển nhượng, bán, cấp phép hoặc phân phối quyền truy cập của bạn với thành viên ADMINISTRATOR của bạn. Thành viên ADMINISTRATOR của bạn chỉ dành cho sử dụng cá nhân và gia đình của bạn.
                    - You confirm and warrant that:
                </h5>
                <h5 style="font-weight: 400; margin-left:100px; line-height: 2">
                    + You are 18 years old or the age of the law required or permitted under applicable law to provide information to members.<br />
                    + All information you submit is true and accurate.<br />
                    + You are a competent individual to provide information members. You agree to comply with the responsibilities and its obligations as stated in these Terms and Conditions.<br />
                </h5><br />
                <h3 style="font-weight: 800" class="accent-color">
                    II.Limination Of Liability And Remedies.
                </h3>
                <h5 style="font-weight: 400; margin-left:70px; line-height: 2">
                    - ADMINISTRATOR Liable fot any damages whatsoever including, without limination, any direct, indirect, special, indirect damages (loss of profits loss of information)<br />
                    - Indemnify. You agree to defend, indemnify and avoid damage to the ADMINISTRATOR from any and all claims, liability, demand, penalty, forfeiture, claims and related costs and fees (including including attorney's fees), which ADMINISTRATOR following may incur, become responsible for or pay arising out of your use of the site or your violation of any term or provision of these terms.<br />
                </h5><br />
                <h3 style="font-weight: 800" class="accent-color">
                    III.General Rules<br />
                </h3>
                <h5 style="font-weight: 400; margin-left:70px; line-height: 2">
                    - Modify. ADMINISTRATOR has the right at any time and unilaterally to change the terms, conditions and notices that the site offers, including but not limited to the charges associated with the use of the site. ADMINISTRATOR may modify these terms at any time by updating this bulletin. You should visit this page from time to time to review the terms earlier than the present because they can bind you. <br />
                    - Certain provisions of these terms may be superseded by legal notices or terms clearly located on particular pages at the Site. ADMINISTRATOR has the right at any time and unilaterally modify or discontinue, temporarily or permanently the website (or any part thereof) with or without notice. You agree that ADMINISTRATOR is not responsible to you or any third party for modification, suspension or discontinuance of the Site.<br />
                    - Transfer. You can not assign any rights, nor delegate any of your obligations under these Terms or any part thereof without the written consent of ADMINISTRATOR. Any attempt to do so will be considered a violation of the Terms.<br />
                </h5>
                <br />
            </div>
        </div>
    </div>
</div>