@using LS.Web.Models;
@model List<TeacherStudiesViewModel>

@{
    ViewBag.Title = "ManageStudies";
    Layout = "~/Views/Shared/admin/_Layout.cshtml";

    var index = 0;
}

<!--Start Breadcrumb-->
<div class="row">
    <div id="breadcrumb" class="col-xs-12">
        <a href="#" class="show-sidebar">
            <i class="fa fa-bars"></i>
        </a>
        <ol class="breadcrumb pull-left">
            <li><a href="javascript:void(0);">Lecturer</a></li>
            <li><a href="#">ManageStudies</a></li>
        </ol>
        <div id="social" class="pull-right">
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
        </div>
    </div>
</div>
<div class="well">
    <div class="row">
        <div class="col-lg-9">
            <div id="search">
                <input id="txtKeyword" type="text" placeholder="Tìm kiếm theo tiêu đề" style="background-color:white!important" />
                <i class="fa fa-search" style="top:8px;color:red!important" onclick="search(1)"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8"></div>
        <div class="col-lg-4" style="margin-top:15px;margin-bottom:-15px">
            <button type="button" class="btn btn-primary" style="width:70px;" onclick="search();"><i class="fa fa-search"></i> Tìm</button>
            <button type="button" class="btn btn-success" style="width:70px;" onclick="showAddModal()"><i class="fa fa-plus"></i> Thêm</button>
        </div>
    </div>
</div>

<div class="well" style="padding-bottom:4%">
    <span id="showTotalRecord" class="help-block"></span>
    <hr />
    <div class="box" id="boxData">
        <div class="box-header">
            <div class="box-icons">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="expand-link">
                    <i class="fa fa-expand"></i>
                </a>
            </div>
            <div class="no-move"></div>
        </div>
        <div class="box-content no-padding">
            <table class="table table-bordered table-striped table-hover table-heading table-datatable" id="datatable-1">
                <thead>
                    <tr>
                        <th style="width:40px;">STT</th>
                        <th style="width:100px;">Tiêu đề</th>
                        <th>Mô tả</th>
                        <th style="width:80px;">Loại</th>
                        <th style="width:100px;">Người tạo</th>
                        <th style="width:100px;">Ngày tạo</th>
                        <th style="width:80px;">Thao tác</th>
                    </tr>
                </thead>
                <tbody id="listPost"></tbody>
                <tfoot>
                    <tr>
                        <th style="width:40px;">STT</th>
                        <th style="width:100px">Tiêu đề</th>
                        <th>Mô tả</th>
                        <th style="width:80px;">Loại</th>
                        <th style="width:100px;">Người tạo</th>
                        <th style="width:100px;">Ngày tạo</th>
                        <th style="width:80px;">Thao tác</th>
                    </tr>
                </tfoot>
            </table>
            <ul id="ulSearchResult" class="pagination" style="background-color:red !important; display:none;text-align:center;float:right"></ul>
        </div>
        <div id="pagination" class="pagination">
        </div>
        <div class="row" style="margin-right:3%;float:right; margin-top:1%">
            <a id="btnInsert" name="Add " class="btn btn-primary" onclick="add(this);" style="display: none;">
                Thêm mới
            </a>
        </div>
    </div>
</div>

<!-- Update Informartion -->
<div class="modal fade" id="updateModal" role="dialog">
    <div class="row">
        <div class="modal-dialog" style="float:left">
            <!-- Modal content-->
            <div class="modal-content" style="margin-left:40%; width:150%; height:auto">
                <div class="modal-body">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-6 row">
                                <div class="col-xs-4" style="margin-top: 10px; font-weight: bold;">
                                    ID :
                                </div>
                                <div class="col-xs-8" style="margin-top: 10px; font-weight: bold;">
                                    <span style="color:dodgerblue;margin-left:3%" id="lblId"></span>
                                </div>
                            </div>
                            <div class="col-xs-6 row">
                                <div class="col-xs-4" style="margin-top: 10px; font-weight: bold;">
                                    Loại :
                                </div>
                                <div class="col-xs-8" style="margin-top: 10px; font-weight: bold;">
                                    <span style="color:dodgerblue;margin-left:3%" id="lblLoai"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 row">
                                <div class="col-xs-4" style="margin-top: 10px; font-weight: bold;">
                                    Năm :
                                </div>
                                <div class="col-xs-8" style="margin-top: 10px; font-weight: bold;">
                                    <input class="form-control" id="txtNam" />
                                </div>
                            </div>
                            <div class="col-xs-6 row">
                                <div class="col-xs-4" style="margin-top: 10px; font-weight: bold;">
                                    Tiêu đề :
                                </div>
                                <div class="col-xs-8" style="margin-top: 10px; font-weight: bold;">
                                    <input class="form-control" id="txtTieude" />
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px">
                            <div class="col-xs-12" style="margin-top: 5px; font-weight: bold;">
                                Mô tả : <textarea id="txtMota" rows="10" cols="80" style="visibility: hidden; display: none;"></textarea>
                            </div>
                        </div>

                        <span id="success" style="color:forestgreen" hidden> Updated Successfull</span>
                        <span id="error" style="color:crimson" hidden> Update Error</span>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-lg-8"></div>
                            <div class="col-lg-4" style="margin-top:15px;margin-bottom:-15px">
                                <button type="button" class="btn btn-primary" style="width:70px;" onclick="update();"> Sửa</button>
                                <button type="button" class="btn btn-default" style="width:70px;" onclick="cancel()">Hủy</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add -->
<div class="modal fade" id="addModal" role="dialog">
    <div class="row">
        <div class="modal-dialog" style="float:left">
            <!-- Modal content-->
            <div class="modal-content" style="margin-left:40%; width:150%; height:auto">
                <div class="modal-body">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-6 row">
                                <div class="col-xs-4" style="margin-top: 10px; font-weight: bold;">
                                    Năm :
                                </div>
                                <div class="col-xs-8" style="margin-top: 10px; font-weight: bold;">
                                    <input class="form-control" id="txtThemNam" />
                                </div>
                            </div>
                            <div class="col-xs-6 row">
                                <div class="col-xs-4" style="margin-top: 10px; font-weight: bold;">
                                    Tiêu đề :
                                </div>
                                <div class="col-xs-8" style="margin-top: 10px; font-weight: bold;">
                                    <input class="form-control" id="txtThemTieude" />
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px">
                            <div class="col-xs-12" style="margin-top: 5px; font-weight: bold;">
                                Mô tả : <textarea id="txtThemMota" rows="10" cols="80" style="visibility: hidden; display: none;"></textarea>
                            </div>
                        </div>

                        <span id="themSuccess" style="color:forestgreen" hidden> Added Successfull</span>
                        <span id="themError" style="color:crimson" hidden> Add Error</span>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-lg-8"></div>
                            <div class="col-lg-4" style="margin-top:15px;margin-bottom:-15px">
                                <button type="button" class="btn btn-primary" style="width:70px;" onclick="add();"> Thêm</button>
                                <button type="button" class="btn btn-default" style="width:70px;" onclick="cancel()">Hủy</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Breadcrumb-->

<script type="text/javascript">

    var _recordPerPage = 4;
    var arrId = [];
    var src = "/Scripts/js/owl.carousel.min.js";
    var currentPage = 1;
    var curList;
    var arrChecked = [];

    $(function () {
        search();
        CKEDITOR.replace('txtMota');
        CKEDITOR.replace('txtThemMota');
    })

    function search() {
        var keyword = $("#txtKeyword").val();
        var str = '';
        $("#listPost").empty();
        var obj = {};
        obj.keyword = keyword;

        $.ajax({
            url: "@Url.Action("SearchForStudies", "Lecturers")",
            type: "POST",
            data: JSON.stringify(obj),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var res = data.Result;
                var index = 0;
                if (res.length > 0) {
                    for (var i = 0; i < res.length; i++) {
                        index++;
                        str += '<tr>';
                        str += '<td>' + index +'</td>';
                        str += '<td>' + res[i].Title +'</td>';
                        str += '<td>' + res[i].Description +'</td>';
                        str += '<td>' + res[i].Type +'</td>';
                        str += '<td>' + res[i].CreatedBy +'</td>';
                        str += '<td>' + res[i].CreatedDate +'</td>';
                        str += '<td>';
                        str += '<button type="button" class="btn btn-primary btn-app-sm" name="Chỉnh sửa " onclick="showEditModal(' + res[i].Id +')" style="color:blue"><i class="fa fa-pencil" style="color:white"></i></button>';
                        str += '</td>';
                        str += '</tr>';
                    }
                }

                $("#listPost").append(str);
            },
            error: function (data) {
                console.log("error " + data);
            }
        });
    }

    function showEditModal(id) {
        $("#updateModal").modal('show');
        var obj = {};
        obj.id = id;

        $.ajax({
            url: "@Url.Action("SearchById", "Lecturers")",
            type: "POST",
            data: JSON.stringify(obj),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                console.log(data);
                if (data.Status == "success") {
                    $("#lblId").text(id);
                    $("#txtTieude").val(data.Result.Title);
                    CKEDITOR.instances.txtMota.setData(data.Result.Description);
                    $("#txtNam").val(data.Result.Year);
                    $("#lblLoai").text(data.Result.Type);
                }
            },
            error: function (data) {
                console.log("error " + data);
            }
        });
    }

    function showAddModal() {
        $("#addModal").modal('show');
    }

    function cancel() {
        $("#updateModal").modal('hide');
    }

    function update() {
        var obj = {};
            obj.Id = $("#lblId").text();
            obj.Title = $("#txtTieude").val();
            obj.Year = $("#txtNam").val();
            obj.Description = CKEDITOR.instances.txtMota.getData();

        $.ajax({
            url: "@Url.Action("UpdateForStudies", "Lecturers")",
            type: "POST",
            data: JSON.stringify(obj),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (data == "True") {
                    $("#success").show();
                    $("#error").hide();

                    setTimeout(function () {
                        $("#updateModal").modal('hide');
                        search();
                    }, 2000);
                }
                else {
                    $("#success").hide();
                    $("#error").show();
                }
            },
            error: function (data) {
                console.log("error " + data);
            }
        });
    }

    function add() {
        var obj = {};
            obj.Title = $("#txtThemTieude").val();
            obj.Year = $("#txtThemNam").val();
            obj.Description = CKEDITOR.instances.txtThemMota.getData();

        $.ajax({
            url: "@Url.Action("AddForStudies", "Lecturers")",
            type: "POST",
            data: JSON.stringify(obj),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (data == "True") {
                    $("#themSuccess").show();
                    $("#themError").hide();

                    setTimeout(function () {
                        $("#addModal").modal('hide');
                        search();
                    }, 2000);
                }
                else {
                    $("#themSuccess").hide();
                    $("#themError").show();
                }
            },
            error: function (data) {
                console.log("error " + data);
            }
        });
    }
</script>
